*{
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
    background: linear-gradient(135dg,#c3446a,#d38f4f);
}
.container{
    width: 100%;
    min-height: 100hv;
    background: linear-gradient(135dg,#c3446a,#d38f4f);
    padding: 10px;
}